<!--
Main 화면의 Base
-->
<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->

<title>
    Accounting Craft - {% block title %}{% endblock %} | SmallGoodThing
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Accounting Craft">
<meta name="author" content="Jean Ahn">
<meta name="description" content="Accounting Craft is a Small-sized Web Accounting application featuring simple double-entry bookkeeping.">
<meta name="keywords" content="Accounting Double-entry Bookkeeping SmallGoodThing"/>


<!-- Bootstrap5 CSS -->
<link href="{{ url_for('base_blueprint.static', filename='vendor/bootstrap-5.0.2-dist/css/bootstrap.css') }}" rel="stylesheet">

<!--FontAwesome-->
<link href="{{ url_for('base_blueprint.static', filename='vendor/fontawesome-free-5.15.3-web/css/all.css') }}" rel="stylesheet">

<!--Custom CSS-->
<link type="text/css" href="{{ url_for('base_blueprint.static', filename='custom.css') }}" rel="stylesheet">


</head>
<body id="body-pd">

  {% include 'includes/navigator.html' %}

    
  <main class="content">

    {% block content %}{% endblock content %}

  </main>

<!-- Bootstrap5 js -->
<script src="/static/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>

<!-- jQuery 3.6.0 -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<!--Custom JS-->
<script src="static/custom.js"></script>

    {% include 'includes/footer.html' %}
</body>
</html>
