{% extends "layouts/base-app.html" %}

{% block title %} Transactions {% endblock %}


{% block content %}

<!-- Jinja2를 이용하여 javascript에 데이터 전달 위한 브릿지 -->
<script type="text/javascript">
    let product_data = {{ product_items | tojson }};


</script>

<!-- 전표생성 선택 Section -->
<section>
    <div class="form-check form-check-inline">
        <div class="input-group-text" id="transaction-radio">전표유형</div>
    </div>
    <div class="form-check form-check-inline">
        <input checked class="form-check-input" id="transaction-inlineRadio1"
               name="transaction-inlineRadioOptions" type="radio"
               value="매출전표">
        <label class="form-check-label" for="transaction-inlineRadio1">매출전표</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" id="transaction-inlineRadio2" name="transaction-inlineRadioOptions"
               type="radio" value="매입전표">
        <label class="form-check-label" for="transaction-inlineRadio2">매입전표</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" id="transaction-inlineRadio3" name="transaction-inlineRadioOptions"
               type="radio" value="입금전표">
        <label class="form-check-label" for="transaction-inlineRadio3">입금전표</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" id="transaction-inlineRadio4" name="transaction-inlineRadioOptions"
               type="radio" value="출금전표">
        <label class="form-check-label" for="transaction-inlineRadio4">출금전표</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" id="transaction-inlineRadio5" name="transaction-inlineRadioOptions"
               type="radio" value="대체전표">
        <label class="form-check-label" for="transaction-inlineRadio5">대체전표</label>
    </div>
    <button class="btn btn-outline-primary" data-bs-target="#transactionCreateForm" data-bs-toggle="modal"
            id="document-type-submit" onclick="triggerModalForm()">생성
    </button>
</section>

<hr>

<!-- 전표 List Section -->
<section>
    <div class="container-fluid">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th scope="col">전표번호</th>
                <th scope="col">전표일자</th>
                <th scope="col">계정과목</th>
                <th scope="col">차변금액</th>
                <th scope="col">대변금액</th>
                <th scope="col">적요</th>
                <th scope="col">작성자</th>
                <th scope="col">전표관리</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">S-20210621-01</th>
                <td>2020-06-21</td>
                <td>음료매출</td>
                <td>-</td>
                <td>9,091</td>
                <td>핸드드립*2*@5,000-일반고객</td>
                <td>jeanahn</td>
                <td>조회/수정/삭제</td>
            </tr>
            <tr>
                <th scope="row">S-20210621-01</th>
                <td>2020-06-21</td>
                <td>외상매출금</td>
                <td>10,000</td>
                <td>-</td>
                <td>핸드드립*2*@5,000-일반고객</td>
                <td>jeanahn</td>
                <td>조회/수정/삭제</td>
            </tr>
            <tr>
                <th scope="row">S-20210621-01</th>
                <td>2020-06-21</td>
                <td>부가세예수금</td>
                <td>-</td>
                <td>909</td>
                <td>핸드드립*2*@5,000-일반고객</td>
                <td>jeanahn</td>
                <td>조회/수정/삭제</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>


<!-- 전표생성 Modal -->
<div aria-hidden="true" aria-labelledby="transactionModalLabel" class="modal fade" id="transactionCreateForm"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="transactionCreateModalLabel">전표이름</h4> <!--custom.js에서 자동 입력-->
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <form action="{{ url_for('home_blueprint.transactions') }}" id="sales-form" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-auto">
                            <div class="input-group">
                                <div class="input-group-text">거래일자</div>
                                <input class="form-control" id="sales-date" name="sales-date" required type="date">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group">
                                <div class="input-group-text">거래처</div>
                                <select class="form-control" id="sales-partner" name="sales-partner">
                                    <option value="none">선택하세요</option>
                                    {% for item in partner_items %}
                                    <option value="{{ item[0] }}">{{ item[0] }} | {{ item[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group">
                                <div class="input-group-text">프로젝트</div>
                                <select class="form-control" id="sales-project" name="sales-project">
                                    <option value="none">선택하세요</option>
                                    {% for item in project_items %}
                                    <option value="{{ item[0] }}">{{ item[0] }} | {{ item[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>


                    <hr>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-text">적요</div>
                            <input class="form-control" id="sales-description" name="sales-description"
                                   placeholder="적요를 입력하세요" type="text">
                        </div>
                    </div>

                    <hr>

                    <div class="form-group">
                        <div class="form-check form-check-inline" style="padding-left: 0px;">
                            <div class="input-group-text" id="sales-radio">결재유형</div>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="sale-inlineRadio1"
                                   name="sale-inlineRadioOptions" type="radio"
                                   value="외상거래">
                            <label class="form-check-label" for="sale-inlineRadio1">외상거래</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="sale-inlineRadio2"
                                   name="sale-inlineRadioOptions" type="radio"
                                   value="계좌이체">
                            <label class="form-check-label" for="sale-inlineRadio2">계좌이체</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="sale-inlineRadio3"
                                   name="sale-inlineRadioOptions" type="radio"
                                   value="신용카드">
                            <label class="form-check-label" for="sale-inlineRadio3">신용카드</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="sale-inlineRadio4"
                                   name="sale-inlineRadioOptions" type="radio"
                                   value="현금거래">
                            <label class="form-check-label" for="sale-inlineRadio4">현금거래</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="sale-inlineRadio5"
                                   name="sale-inlineRadioOptions" type="radio"
                                   value="상품권">
                            <label class="form-check-label" for="sale-inlineRadio5">상품권</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="sale-inlineRadio6"
                                   name="sale-inlineRadioOptions" type="radio"
                                   value="E-머니">
                            <label class="form-check-label" for="sale-inlineRadio5">E-머니</label>
                        </div>
                    </div>

                    <hr>

                    <div class="input-group-text" id="sales-input">매출내역</div>
                    <div class="form-group position-relative float-end">
                        <button class="badge bg-success" id="button-add-row" type="button">품목추가</button>
                        <button class="badge bg-danger" id="button-delete-row" type="button">품목삭제</button>
                    </div>

                    <div class="form-group">
                        <table class="table table-hover" id="sales-table">
                            <!--                            <caption id="sales-total-sum">결재금액 합계:</caption>-->
                            <thead class="table-dark">
                            <tr>
                                <th scope="col">품목명</th>
                                <th scope="col">과/면</th>
                                <th scope="col">단가</th>
                                <th scope="col">수량</th>
                                <th scope="col">공급가</th>
                                <th scope="col">부가세</th>
                                <th scope="col">결재금액</th>
                            </tr>
                            </thead>
                            <tbody id="sales-table-body">
                            <tr id="sales-table-row">
                                <th id="sales-product-th" scope="row">
                                    <select class="form-control" id="sales-product" name="sales-product"
                                            onchange="selectedProductDetail(this)" required>
                                        <option value="none">선택하세요</option>
                                        {% for item in product_items %}
                                        <option value="{{ item[0] }}">{{ item[1] }}</option>
                                        {% endfor %}
                                    </select>
                                </th>
                                <td id="sales-tax" name="sales-tax"></td>  <!-- custom.js에서 자동 입력 -->
                                <td id="sales-cost" name="sales-cost"></td> <!-- custom.js에서 자동 입력 -->
                                <td id="sales-quantity-td">
                                    <input class="form-control _quantity" id="sales-quantity" name="sales-quantity"
                                           onchange="salesAmountCalculation(this)" required type="number">
                                </td>
                                <td id="sales-td-amount"></td> <!-- custom.js에서 자동 입력 -->
                                <!-- form data로 반환하기 위해 hidden input 이용 -->
                                <input class="form-control" id="sales-input-amount" name="sales-amount" type=hidden>
                                <td id="sales-vat-td-amount"></td> <!-- custom.js에서 자동 입력 -->
                                <input class="form-control" id="sales-vat-input-amount" name="sales-vat-amount"
                                       type=hidden>
                                <td class="sales-item-sum" id="sales-item-sum" name="sales-item-sum"></td>
                                <!-- custom.js에서 자동 입력 -->
                            </tr>
                            </tbody>
                            <tfoot id="sales-table-foot">
                            <tr>
                                <th class="table-active" colspan="3" scope="row">합계</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td id="sales-sum-total"></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-secondary" data-bs-dismiss="modal" onclick="salesFormReset" type="reset"
                           value="취소">
                    <input class="btn btn-primary" data-bs-dismiss="modal" type="submit" value="저장">
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}

