{% extends "layouts/base-login.html" %}

{% block title %}로그인{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="wrap">
                    <div class="img" style="background-image: url(static/img/bg-login.jpg);"></div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">로그인</h3>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a class="social-icon d-flex align-items-center justify-content-center"
                                       href="#"><span class="fab fa-google"></span></a>
                                    <a class="social-icon d-flex align-items-center justify-content-center"
                                       href="#"><span class="fab fa-facebook-f"></span></a>
                                </p>
                            </div>
                        </div>
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <p class="check_msg">
                                {% if msg %}
                                {{ msg | safe }}
                                {% else %}
                                {% endif %}
                            </p>
                        </div>
                        <form action="" class="mt-4" method="post">

                            {{ form.hidden_tag() }}

                            <!-- Form -->
                            <div class="form-group mb-4">
                                <label for="basic-addon1">이용자</label>
                                <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1"><span
                                                    class="fas fa-user-circle"></span></span>
                                    {{ form.username(placeholder="아이디", class="form-control") }}
                                </div>
                            </div>
                            <!-- End of Form -->
                            <div class="form-group">
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="basic-addon2">비밀번호</label>
                                    <div class="input-group">
                                                <span class="input-group-text" id="basic-addon2"><span
                                                        class="fas fa-unlock-alt"></span></span>
                                        {{ form.password(placeholder="비밀번호", class="form-control",
                                        type="password") }}
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="d-flex justify-content-between align-items-top mb-4">
                                    <div class="form-check">
                                        <input class="form-check-input" id="remember" type="checkbox"
                                               value="">
                                        <label class="form-check-label mb-0" for="remember">
                                            아이디 기억
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button class="form-control btn btn-primary rounded submit px-3"
                                        name="login" type="submit">로그인
                                </button>
                            </div>
                        </form>
                        <p class="text-center">이용자가 아닙니까? <a data-toggle="tab"
                                                            href="{{ url_for('base_blueprint.register') }}">이용자 등록</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}

