{% extends "layouts/base-login.html" %}

{% block title %}이용자등록{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="wrap">
                    <div class="img" style="background-image: url(static/img/bg-login.jpg);"></div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="w-100">
                            <h3 class="mb-4">이용자 등록</h3>
                        </div>
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <p class="check_msg">
                                {% if msg %}
                                {{ msg | safe }}
                                {% else %}

                                {% endif %}
                            </p>
                        </div>

                        <form action="" class="mt-4" method="post">

                            {{ form.hidden_tag() }}

                            <!-- Form -->
                            <div class="form-group mb-4">
                                <label for="basic-addon3">이용자</label>
                                <div class="input-group">
                                <span class="input-group-text" id="basic-addon3"><span
                                        class="fas fa-user-shield"></span></span>
                                    {{ form.username(placeholder="아이디", class="form-control") }}
                                </div>
                            </div>

                            <!-- Form -->
                            <div class="form-group mb-4">
                                <label for="basic-addon4">이메일</label>
                                <div class="input-group">
                                <span class="input-group-text" id="basic-addon4"><span
                                        class="fas fa-envelope"></span></span>
                                    {{ form.email(placeholder="이메일", class="input form-control", type="email") }}
                                </div>
                            </div>
                            <!-- End of Form -->

                            <!-- Form -->
                            <div class="form-group mb-4">
                                <label for="basic-addon5">비밀번호</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon5"><span
                                            class="fas fa-unlock-alt"></span></span>
                                    {{ form.password(placeholder="Password", class="form-control", type="password") }}
                                </div>
                            </div>
                            <!-- End of Form -->

                            <div class="d-flex justify-content-between align-items-top mb-4">
                                <div class="form-check">
                                    <input class="form-check-input" id="remember" type="checkbox" value="">
                                    <label class="form-check-label mb-0" for="remember">
                                        이용약관 동의
                                    </label>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-dark" name="register" type="submit">이용자 등록</button>
                            </div>
                        </form>
                        <p class="text-center">
                            <a data-toggle="tab"
                               href="{{ url_for('base_blueprint.login') }}">로그인</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}

